[Unit]
Description=Fuse Framework Service
After=multi-user.target
[Service]
User=root
Type=simple
Restart=always
WorkingDirectory=<path_to_fuse_root>
ExecStart=/usr/bin/python3 <path_to_fuse>
[Install]
WantedBy=multi-user.target