<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brython</title>
    <script type="text/javascript" src="D:\Files\pyprojects\fuse_framework\resources\brython\brython.js"></script>
    <script type="text/javascript" src="D:\Files\pyprojects\fuse_framework\resources\brython\brython_stdlib.js"></script>
</head>

<body onload="brython();">
    <script type="text/python" src="features.py"></script>

</body>

</html>