<html>
<head>
    <title>Fuse Management Hub</title>
</head>
<body>
<div>
    <h1 style="color: #5e9ca0;">Fuse Management Hub</h1>
    <p><a href="{{ url_for('todo_page') }}">Database</a></p>
    <p><a href="{{ url_for('manage', current = 'services') }}">Services</a></p>
    <p><a href="{{ url_for('todo_page') }}">Schedulers</a></p>
    <p><a href="{{ url_for('todo_page') }}">Arbitrary processes</a></p>
    <p><a href="{{ url_for('todo_page') }}">Taskmaster</a></p>
    <p><a href="{{ url_for('todo_page') }}">Fisherman</a></p>
    <p><a href="{{ url_for('todo_page') }}">Config Editor</a></p>
    <p><a href="{{ url_for('manage', current = 'logs') }}">Logs</a></p>
    <p><a href="{{ url_for('manage', current = 'logs2') }}">Logs 2</a></p>
    <p><a href="{{ url_for('todo_page') }}">Terminal</a></p>
    <p><a href="{{ url_for('todo_page') }}">Documentation</a></p>
    <p><a href="{{ url_for('todo_page') }}">About</a></p>

</div>
</body>
</html>